<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-1">
                        <a href="/contents"><button class="btn btn-outline-secondary">View Contents</button></a>
                    </li>
                    <li class="nav-item mr-1">
                        <a href="/types"><button class="btn btn-outline-secondary">View Types New</button></a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <a href="/logout"><button class="btn btn-dark my-2 my-sm-0" type="submit">Logout</button></a>
                </div>
            </div>
        </nav>